<div class="footer-bottom header-footer-bg footer-height">
  <footer class="text-light">
    <p
      class="d-flex align-items-center justify-content-evenly text-center flex-wrap column"
    >
      <span
        >Desarrollador por: <br />
        &copy;Fernando Córdova Mendoza
      </span>
      <span>Código: <br />222353055 </span>
      <span
        >Curso: <br />Conceptualización de entornos de desarrollo de
        aplicaciones y servicios</span
      >
      <br />
      <span>Correo: <br />clxl22&#64;hotmail.com</span>
    </p>
  </footer>
</div>
