<div class="text-light header-footer-bg">
  <header>
    <div
      class="d-flex justify-content-evenly align-items-center flex-wrap border rounded"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/5450/5450009.png"
        alt="ícono"
        width="150"
        height="150"
        class="p-3"
      />
      <h1 class="col-9 text-center title">EN EFECTO ES CINE!</h1>
      <img
        width="150"
        height="150"
        src="https://cdn-icons-png.flaticon.com/512/17115/17115698.png"
        class="hidden"
      />
    </div>
  </header>
  <nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="navbar-brand mx-5" routerLink="/movies">VER PELÍCULAS</a>
      </li>
    </ul>
  </nav>
</div>
