<button
  class="btn btn-outline-light btn-lg m-5"
  data-bs-toggle="modal"
  data-bs-target="#new"
>
  AGREGAR NUEVA PELÍCULA
</button>

<!--modal para agregar una película-->

<div
  class="modal fade"
  id="new"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">NUEVA PELÍCULA</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="titulo">Título:</label>
        <input
          type="text"
          class="form-control"
          name="titulo"
          [(ngModel)]="newMovie.title"
        />
        <label for="sinopsis">Sinopsis:</label>
        <textarea
          class="form-control"
          name="sinopsis"
          id=""
          [(ngModel)]="newMovie.synopsis"
        ></textarea>
        <label for="year">Año de lanzamiento:</label>
        <input
          type="text"
          class="form-control"
          name="year"
          [(ngModel)]="newMovie.year"
        />
        <label for="cover">Pega aquí el link de la carátula</label>
        <input
          type="text"
          class="form-control"
          name="cover"
          [(ngModel)]="newMovie.cover"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          data-bs-toggle="modal"
          data-bs-target="#agregada"
          (click)="addMovie()"
        >
          AÑADIR PELÍCULA
        </button>
      </div>
    </div>
  </div>
</div>
