<a routerLink="/movies"
  ><button type="button" class="btn btn-outline-light btn-lg mx-5 mt-3">
    REGRESAR AL CATÁLOGO
  </button></a
>

<div class="container border rounded text-light p-5 header-footer-bg mt-5 fs-4">
  <div class="row">
    <div class="col">
      <img
        src="https://www.lavanguardia.com/peliculas-series/images/movie/poster/2022/9/w1280/p5De1zX5Eiramyx3ZPVq4cDWEhM.jpg"
        alt="cover"
        width="328"
        height="492"
      />
    </div>
    <div class="col">
      <p>NOMBRE DE LA PELÍCULA: DANTE</p>
      <p>
        SINOPSIS: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Voluptatibus expedita iusto porro facilis quae hic et praesentium non
        reprehenderit obcaecati voluptate tempore sapiente aliquam fuga
        doloremque labore delectus, vel voluptatum?
      </p>
      <p>AÑO DE LANZAMIENTO: 21XX</p>
    </div>
  </div>
</div>
