<a routerLink="/movies"
  ><button type="button" class="btn btn-outline-light btn-lg mx-5 mt-3">
    REGRESAR AL CATÁLOGO
  </button></a
>

<div class="container border rounded header-footer-bg p-5 mt-5">
  <div class="row" *ngIf="movie">
    <div class="col">
      <img
        src="{{ movie.cover }}"
        alt="cover {{ movie.title }}"
        width="328"
        height="492"
      />
    </div>
    <div class="col text-light fs-4">
      <p>TÍTULO: {{ movie.title }}</p>
      <p>SINOPSIS: <br />{{ movie.synopsis }}</p>
      <p>AÑO DE LANZAMIENTO: {{ movie.year }}</p>
    </div>
  </div>
</div>
