<a routerLink="/movies"
  ><button type="button" class="btn btn-outline-light btn-lg mx-5 mt-3">
    REGRESAR AL CATÁLOGO
  </button></a
>

<div class="container border rounded header-footer-bg p-5 mt-5">
  <div class="row" *ngIf="movie">
    <div class="col">
      <img
        src="{{ movie.cover }}"
        alt="cover {{ movie.title }}"
        width="328"
        height="492"
      />
    </div>
    <div class="col text-light fs-4">
      <p>TÍTULO: {{ movie.title }}</p>
      <p>SINOPSIS: <br />{{ movie.synopsis }}</p>
      <p>AÑO DE LANZAMIENTO: {{ movie.year }}</p>
      <button
        type="button"
        class="btn btn-outline-light btn-lg mx-5 mt-3"
        data-bs-toggle="modal"
        data-bs-target="#Editar"
      >
        EDITAR
      </button>
      <button
        type="button"
        class="btn btn-outline-light btn-lg mx-5 mt-3"
        data-bs-toggle="modal"
        data-bs-target="#Eliminar"
      >
        ELIMINAR
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="Eliminar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          ¿Está seguro que desea eliminar?
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Película: {{ movie.title }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          data-bs-toggle="modal"
          data-bs-target="#alert"
          (click)="borrar(movie.id)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="Editar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">EDICION</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="titulo">Título</label>
        <input
          type="text"
          class="form-control"
          name="titulo"
          value="{{ movie.title }}"
          [(ngModel)]="updateMovie.title"
        />
        <label for="sinopsis">Sinopsis</label>
        <textarea
          class="form-control"
          name="sinopsis"
          id=""
          value="{{ movie.synopsis }}"
          [(ngModel)]="updateMovie.synopsis"
        ></textarea>
        <label for="year">Año de lanzamiento</label>
        <input
          type="text"
          class="form-control"
          name="year"
          value="{{ movie.year }}"
          [(ngModel)]="updateMovie.year"
        />
        <label for="cover">Pega aquí el link de la carátula</label>
        <input
          type="text"
          class="form-control"
          name="cover"
          value="{{ movie.cover }}"
          [(ngModel)]="updateMovie.cover"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          data-bs-toggle="modal"
          data-bs-target="#alert-update"
          (click)="actualizar(movie.id)"
        >
          GUARDAR CAMBIOS
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Alert ELIMINACION -->
<div
  class="modal fade"
  id="alert"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"><p>PELÍCULA ELIMINADA</p></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="redirect()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Alert ACTUALIZACION -->
<div
  class="modal fade"
  id="alert-update"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"><p>DATOS ACTUALIZADOS CORRECTAMENTE</p></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="refresh()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
