<a routerLink="/"
  ><button type="button" class="btn btn-outline-light btn-lg mx-5 mt-3">
    REGRESAR AL INICIO
  </button></a
>

<div class="container mt-5 mb-3 description">
  <span class="fs-3 text-light"
    >PELÍCULAS DISPONIBLES: {{ totalPeliculas }}</span
  >

  <app-add></app-add>

  <br />

  <div
    class="container d-flex flex-wrap justify-content-center align-items-center gap-5"
  >
    <div *ngFor="let movie of movies; index as i">
      <a routerLink="/movie/{{ movie.id }}">
        <img
          src="{{ movie.cover }}"
          alt="caratula {{ movie.title }}"
          width="197"
          height="295"
          class="border"
        />
      </a>
    </div>
  </div>
</div>

<!-- Modal Alert -->
<div
  class="modal fade"
  id="agregada"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"><p>PELÍCULA AGREGADA CON ÉXITO</p></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="redirect()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
