<a routerLink="/"
  ><button type="button" class="btn btn-outline-light btn-lg mx-5 mt-3">
    REGRESAR AL INICIO
  </button></a
>

<div class="container mt-5 mb-3 description">
  <span class="fs-3 text-light"
    >PELÍCULAS DISPONIBLES EN ESTE SITIO: {{ totalPeliculas }}</span
  >

  >
  <app-add></app-add>

  <br />
  <table class="table table-dark table-hover text-start">
    <thead></thead>
    <tbody>
      <tr *ngFor="let movie of movies; index as i">
        <td>
          <img
            src="{{ movie.cover }}"
            alt="caratula {{ movie.title }}"
            width="164"
            height="246"
            class="mx-5"
          />
        </td>
        <td class="px-5 text-center">
          <p class="fs-2 mt-2">{{ movie.title }}</p>

          <button
            routerLink="/movie/{{ movie.id }}"
            class="btn btn-outline-light btn-lg m-5"
          >
            VER DETALLE
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Alert -->
<div
  class="modal fade"
  id="agregada"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"><p>PELÍCULA AGREGADA CON ÉXITO</p></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="redirect()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
