.header-footer-bg {
  background: rgb(171, 169, 201);
  background: linear-gradient(
    90deg,
    rgba(171, 169, 201, 1) 0%,
    rgba(116, 116, 121, 0.5114496482186625) 35%,
    rgba(147, 147, 147, 1) 100%
  );
}

.body-bg {
  background: url("https://media.istockphoto.com/id/1199496434/es/v%C3%ADdeo/4k-part%C3%ADcula-abstracta-onda-bokeh-fondo-azul-agua-nieve-hermoso-bucle-de-brillo.jpg?s=640x640&k=20&c=RKmhS8E1PPsg6hR-SRYnhIECnUEu0DtL1Gq4InsdoPg=");
  background-size: cover;
}

.footer-bottom {
  position: fixed;
  bottom: 0;
  height: 100px;
  padding-top: 25px;
  width: 100%;
}

.description {
  height: 100%;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 998px) {
  .column {
    flex-direction: column;
  }

  .footer-height {
    height: 100%;
    padding-bottom: 25px;
  }
}
