@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Pompiere&display=swap");

.header-footer-bg {
  background: rgb(171, 169, 201);
  background: linear-gradient(
    90deg,
    rgba(171, 169, 201, 1) 0%,
    rgba(116, 116, 121, 0.5114496482186625) 35%,
    rgba(147, 147, 147, 1) 100%
  );
}

.title {
  font-family: "Bungee Spice";
  font-weight: 400;
  font-size: 4rem;
}

.body-bg {
  background: url("https://img.freepik.com/vector-gratis/fondo-degradado-lineas-azules-dinamicas_23-2148995756.jpg");
  background-size: cover;
}

.footer-bottom {
  height: 100px;
  padding-top: 25px;
  width: 100%;
}

.description {
  height: 100%;
}

.footer-bg {
  background: rgb(78, 78, 78);
  background: radial-gradient(
    circle,
    rgba(78, 78, 78, 1) 0%,
    rgba(76, 77, 106, 1) 47%,
    rgba(54, 36, 36, 1) 100%
  );
  font-family: "Pompiere", sans-serif;
}

@media (max-width: 998px) {
  .column {
    flex-direction: column;
  }

  .hidden {
    visibility: hidden;
  }

  .footer-bottom {
    height: 100%;
  }

  .title {
    font-size: 3rem;
  }
}
