<div class="container-fluid">
  <app-header></app-header>

  <div class="container mt-2 mb-3 description">
    <p class="text-light text-center">
      <span class="fs-3">PELÍCULA DEL MES</span> <br /><br />
      <iframe
        class="border rounded"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/THjwI5pKNZU?si=lf2gG3jlKzuFOf0y"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <br />
      <a routerLink="/movies"
        ><button type="button" class="btn btn-outline-light btn-lg mt-2">
          VER CATÁLOGO DE PELÍCULAS
        </button></a
      >
    </p>
  </div>

  <app-footer></app-footer>
</div>
