<div class="container-fluid">
  <app-header></app-header>

  <div class="container mt-5 mb-3 description">
    <p class="text-light text-center">
      <span class="fs-3">DESCRIPCION DEL CATALOGO:</span> <br /><br />
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus numquam
      repellat sunt, consequuntur voluptatem fugit corrupti voluptas adipisci
      quae perspiciatis! Dolorem non quidem voluptatem dicta maxime temporibus
      ea sit esse, assumenda, similique aperiam ducimus consequuntur quod unde
      odio tempora placeat minima neque illo aspernatur veritatis? Dolorem autem
      maxime culpa nisi quasi quas distinctio aliquam quae dicta recusandae
      dolore cumque veritatis voluptatibus magni eum sed praesentium aperiam
      fugit illo sapiente delectus doloribus, itaque suscipit. Eius, dicta!
      Perferendis quaerat quo excepturi ipsa. Iste eius repellendus ad optio ab
      quisquam, doloribus ea placeat fugit architecto harum ratione aliquam
      deserunt ut consequatur? Itaque, amet! <br />
      <a routerLink="/movies"
        ><button type="button" class="btn btn-outline-light btn-lg mt-5">
          VER CATÁLOGO DE PELÍCULAS
        </button></a
      >
    </p>
  </div>

  <app-footer></app-footer>
</div>
